# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Django
db.sqlite3
staticfiles/
*.log

# Environment
.env
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Docker
mongo_data/
mosquitto_data/
mosquitto_log/

# Debug / temp
debug_*.html
